@page
@model SinusSkateboards.UI.Pages.Admin.ProductOverview
@{
}
<div class="container mt-5">
    <div class="row justify-content-center align-content-center">
        <h1 class="title">Products</h1>
    </div>
    <div class="row mt-3 justify-content-center align-content-center">
        <a class="btn btn-light" style="font-size: 20px;" asp-page="/Admin/AddProduct">Add Product</a>
    </div>
    <div class="row mt-3 justify-content-center align-content-center d-flex text-center">
        @if (Model.Products != null)
        {
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4 mb-4">
                    <div class="cardSpecItem h-100 text-light p-3 mb-2">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-row align-items-center">
                                <img class="card-img-top" src="~/images/@product.Image">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <p>@product.Title</p>
                            </div>
                            <h5 class="card-link2">@product.Price kr</h5>
                            <h5 class="card-link3">Category: @product.ProductCategory.ToString()</h5>
                            <h5 class="card-link3">Color: @product.Color</h5>
                            <h6>Description: @product.Description</h6>
                            <div class="row mt-4 justify-content-center align-content-center d-flex text-center">
                                <form method="post">
                                    <button class="ProductButtons bg-transparent" type="submit" asp-route-id="@product.Id" asp-page-handler="Delete">
                                        <img src="~/images/logos/x-mark-64.png" class="cardImageDelete imageZoomFullOpacity mr-3 mt-1" />
                                    </button>
                                </form>

                                <a class="ProductButtons bg-transparent" asp-route-id="@product.Id" asp-page="/Admin/EditProduct">
                                    <img src="~/images/logos/edit-64.png" class="cardImageEdit imageZoomFullOpacity ml-3"/>
                                </a>
                            </div>
                        </div>
                        </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-4 mb-4">
                <h1>No products added yet...</h1>
            </div>
        }
    </div>
</div>
