@page
@model SinusSkateboards.UI.Pages.Admin.ProductOverview
@{
}
<div class="container">
    <div class="row justify-content-center align-content-center">
        @if (Model.Products != null)
        {
            @foreach (var product in Model.Products)
            {
                <div class="col-3 mr-3 mt-3 text-light border-left border-bottom border-right border-top" style=" background: rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                    <img src="~/images/@product.Image" style="max-width:200px;" />
                    <p>@product.Title</p>
                    <p>@product.Price kr</p>
                    <p>Color: @product.Color</p>
                    <p>Description: @product.Description</p>
                    <form method="post">
                        <button class="btn btn-outline-light mb-1" style="width: 100px;" type="submit" asp-route-id="@product.Id" asp-page-handler="Delete">Delete</button>
                    </form>
                    <a class="btn btn-outline-light" style="width:100px;" asp-route-id="@product.Id" asp-page="/Admin/EditProduct">Edit</a>
                </div>
            }
        }
        else
        {
            <h1>No products added yet...</h1>
        }
    </div>
    <div class="row mt-3 justify-content-center align-content-center">
            <a class="btn btn-light" asp-page="/Admin/AddProduct">Add Product</a>
    </div>
</div>
