@page
@model SinusSkateboards.UI.Pages.Shop.ProductShopModel
@{
}

<div class="container mt-5 mb-3">
    <div class="row justify-content-center align-content-center mb-2">

        <form method="post">
            <a class="mb-2 mr-2 pb-2" asp-page="/Shop/ProductShop"><img src="~/images/logos/refresh.png" style="width:25px;" /></a>
            <input name="search" type="text" placeholder="Search..." class="searchBar pl-2" />

            <select class="form-control mt-1" asp-for="@Model.CategorySearch" asp-items="@Model.Category">
                <option class="form-control" selected="selected" value="Choose category...">Choose category...</option>
            </select>

            <div class="row justify-content-center align-content-center mb-2">
                <button class="btn btn-light mt-1" asp-route-search="search" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="row mt-5 justify-content-center align-content-center text-center d-flex">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 text-light p-3 mb-2">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-row align-items-center">
                            <a asp-page="/Shop/SpecificItem" asp-route-id="@product.Id">
                                <img class="card-img-top" src="~/images/@product.Image">
                            </a>
                        </div>
                    </div>
                    <h5 class="mt-1 ml-3">@product.Title</h5>
                    <h5 class="card-link mt-1">@product.Price kr</h5>
                    <h6 class="card-link2">@product.ProductCategory.ToString()</h6>
                </div>
            </div>
        }
    </div>
</div>
