@page
@model SinusSkateboards.UI.Pages.Shop.SpecificItemModel
@{
}
<div class="container">
    <div class="row justify-content-center align-content-center text-cemter d-flex">
        <div class="col-md-4 mb-4">
            <div class="card h-100 text-light p-3 mb-2">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-row align-items-center">
                        <img class="card-img-top" src="~/images/@Model.Product.Image">
                    </div>
                </div>
                <div class="card-body text-center">
                    <div class="card-title">
                        <p>@Model.Product.Title</p>
                    </div>
                    <h4>@Model.Product.Price kr</h4>
                    <span>Color: @Model.Product.Color</span>
                    <p>Description: @Model.Product.Description</p>
                    <form method="post">
                        <button class="btn btn-light" style="width: 100%;" type="submit" asp-route-id="@Model.Product.Id">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if (Model.SameCategory.Count > 0)
    {
        <div class="row justify-content-center align-content-center text-light">
            <h2>Other colors</h2>
        </div>
    }
    <div class="row justify-content-center align-content-center text-center d-flex">
        @foreach (var product in Model.SameCategory)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 text-light p-3 mb-2">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-row align-items-center">
                            <a asp-page="/Shop/SpecificItem" asp-route-id="@product.Id">
                                <img class="card-img-top2" src="~/images/@product.Image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>







